.wrapper {
    max-width: 1400px;
    flex: 1;
    width: 100%;
}

.page-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.form-group {
    margin: 20px;
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.form-group label {
    font-weight: 900;
}